# /etc/systemd/system/bike_game.service
[Unit]
Description=PedalPowerChallenge Startup
After=network.target grafana-server.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/PedalPowerChallenge
ExecStart=/home/pi/PedalPowerChallenge/start.sh
Restart=always
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority

[Install]
WantedBy=graphical.target